<%- include('partials/header') -%>
<div class="container-fluid">
  <h1>Ontrack.io</h1>

  <p>
    Welcome to the Student Productivity App, a simple web app that helps you
    track and manage your daily activities and project deadlines.
  </p>

  <div class="container-fluid sections">
    <h2>Activities</h2>
    <p>
      Use the app to track the time you spend on different activities, so you
      can see where your time is going and make more productive choices.
    </p>
    <p>
      <a class="btn btn-primary" href="/activity" role="button"
        >View Activities</a
      >
    </p>

    <h2>Projects</h2>
    <p>
      Keep track of your projects, including the tasks and deadlines associated
      with each project, so you can stay on top of your work and meet your
      project deadlines.
    </p>
    <p>
      <a class="btn btn-primary" href="/project" role="button">View Projects</a>
    </p>

    <h2>Deadlines</h2>
    <p>
      Set reminders for your deadlines and important dates, and use the app to
      help you stay on top of your work and avoid missing important deadlines.
    </p>
    <p>
      <a class="btn btn-primary" href="/deadlines" role="button"
        >View Deadlines</a
      >
    </p>
  </div>
</div>

<%- include('partials/footer')-%>
